.navbar {
    border-bottom: 1px solid #e5e5e5;
}
main {
    margin: 0 auto;
    width: 100%;
    position: relative;
}
main h2 {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 24px;
    letter-spacing: .03em;
    text-align: center;
}
.promo h2 span {
    color: #f14a58;
}
.promo p  {
    margin-bottom: 68px;
    font-family: 'TimesNewRomanPS-ItalicMT', serif;
    font-size: 16px;
    text-align: center;
}
.before-promo, .after-promo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
p.new-icon {
    top: 15px;
}
span.discount {
    display: inline-block;
    position: relative;
    left: -15px;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    letter-spacing: .03em;
    text-align: center;
    color: #757575;
}
span.discount img {
    display: block;
    position: absolute;
    z-index: 10;
    width: 51px;
    height: 31px;
    left: -15px;
    top: -5px;
}
.catalog-item:nth-child(4n+1) {
    margin-left: 0;
}
.catalog-item:nth-child(4n) {
    margin-right: 0;
}
.catalog-item:nth-last-child(-n+2){
    margin: auto;
}
.catalog-item:last-child {
    margin: auto;
}
.before-promo p span, .after-promo p span {
    color: #757575;
}
.before-promo p img, .after-promo p img  {
    width: 52px;
    top: -5px;
    position: absolute;
}
.catalog-bottom-section {
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    border-top-width: 1px;
    border-top-style: solid;
    border-image: linear-gradient(to left, #fff 0%, #999999 100%, #fff 0%);
}
.catalog-bottom-section img {
    height: 100%;
}
.catalog-bottom-section div {
    position: relative;
}
.catalog-bottom-section div:first-child h4 {
    margin: 0;
    position: absolute;
    top: 68px;
    right: 52px;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 28px;
    letter-spacing: .03em;
    color: #fff;
}
.catalog-bottom-section div:first-child p {
    margin: 0;
    position: absolute;
    top: 106px;
    right: 136px;
    font-family: 'TimesNewRomanPS-ItalicMT', serif;
    font-size: 16px;
    letter-spacing: .03em;
    color: #fff;
}
.catalog-bottom-section div:nth-child(2) h4 {
    margin: 0;
    position: absolute;
    bottom: 76px;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 28px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: .03em;
    color: #fff;
}
.catalog-bottom-section div:nth-child(2) p {
    margin: 0;
    position: absolute;
    bottom: 54px;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: 'Roboto-Regular', serif;
    font-size: 14px;
    text-align: center;
    letter-spacing: .03em;
    color: #fff;
}
.catalog-bottom-section div:last-child h4 {
    margin: 0;
    position: absolute;
    bottom: 76px;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 28px;
    text-align: center;
    letter-spacing: .03em;
    color: #f14a58;
}
.catalog-bottom-section div:last-child p {
    margin: 0;
    position: absolute;
    bottom: 54px;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: 'TimesNewRomanPS-ItalicMT', serif;
    font-size: 16px;
    text-align: center;
    letter-spacing: .03em;
    color: #000;
}

@media only screen and (min-width: 1024px) {
    .dropdown-filters, .showing-filters-button, .selected-item-properties {
        display: none;
    }

    .filters-bar {
        display: none;
    }

    .selecting-filters-container::before, .selecting-filters-container::after {
        content: "";
        display: table;
    }

    .selecting-filters-container::after {
        clear: both;
    }

    .selecting-filters-container {
        display: block;
        border-bottom: 1px solid #e5e5e5;
        font-family: 'OpenSans-Bold', sans-serif;
        font-size: 16px;
        text-align: center;
        letter-spacing: .03em;
    }

    .filter-selection {
        width: 196px;
        display: flex;
        flex-direction: row;
        float: left;
        height: 65px;
        border-radius: 0;
        border: none;
        background: transparent url("../img/desktop/filter.png") no-repeat 90% center;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        position: relative;
        text-align: center;
    }

    .filter-selection::-ms-expand {
        display: none;
    }

    .filter-selection-label {
        position: absolute;
        display: none;
    }
    .filter-selection:hover {
        background: #e5e5e5 url("../img/desktop/filter.png") no-repeat 90% center;
        cursor: pointer;
    }
    .filter-selection option:checked {
        background-color: #e5e5e5;
    }
    .shopping-bag-heading {
        font-size: 24px;
    }
}