.bottom-bar {
    margin: 0;
    height: 46px;
    border-bottom: 1px solid #e5e5e5;
}

.bottom-bar a {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 16px;
    letter-spacing: .03em;
}

.item {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
}

.item-gallery {
    height: 590px;
    display: flex;
    flex-direction: row;
}

.gallery-bar {
    width: 130px;
    display: flex;
    flex-direction: column;
    background: #000000;
}

.item-image-full {
    width: 394px;
    font-size: 0;
}

.item-image-thumb {
    height: 33.33%;
    box-sizing: border-box;
    opacity: 1;
}

.item-image-thumb:hover {
    -webkit-filter: brightness(0.6);
    cursor: pointer;
    opacity: 0.6;
}

.active-thumb {
    -webkit-filter: brightness(0.6);
    opacity: 0.6;
}

.item-info {
    margin-left: 51px;
}

.item-info h4 {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 24px;
    letter-spacing: 0.03em;
}

.item-info p {
    font-family: 'TimesNewRomanPS-ItalicMT', serif;
    font-size: 16px;
    text-align: left;
    line-height: 30px;
}

.item-info span {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 26px;
    letter-spacing: 0.03em;
}

.item-info__size {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
}

.item-info__size span, .item-info__color span {
    display: inline-block;
    width: 50px;
    font-size: 12px;
    margin-right: 30px;
}

button.item-prop {
    outline: none;
    padding: 15px 19px;
    margin: 0 15px;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    box-sizing: border-box;
    border: 1px solid transparent;
}

button.chosen-prop {
    border: 1px solid #e5e5e5;
}

button.item-prop:hover {
    padding: 15px 19px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
    color: #f14a58;
}

.item-info__color {
    margin-bottom: 75px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
}
