.bottom-bar {
    max-width: 1300px;
    width: 100%;
    float: left;
    margin: 0;
    height: 65px;
    line-height: 65px;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 22px;
    letter-spacing: 0.03em;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.page-heading {
    display: flex;
    justify-content: space-between;
}
.shopping-bag {
    margin-top: 30px;
    margin-bottom: 117px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.shopping-bag__item {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px 0;
}

.shopping-bag__image p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 22px;
    letter-spacing: 0.03em;
    color: #f14a58;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
}
.shopping-bag__image:hover p {
    visibility: visible;
    opacity: 1;
}
.shopping-bag__image img {
    width: 100%;
}
.shopping-bag__info {
    width: 48%;
    margin-left: 5px;
    text-align: left;
    line-height: 0;
}
.shopping-bag__info h4 {
    margin-bottom: 20px;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 20px;
}
.shopping-bag__info p:nth-child(2) {
    margin-bottom: 40px;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 16.67px;
    letter-spacing: 0.03em;
}
.shopping-bag__info > p, .shopping-bag__info > span  {
    margin: 0;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 12px;
    letter-spacing: 0.03em;
    text-align: left;
    line-height: 24px;
}
.shopping-bag__info p:nth-child(5) img {
    margin: 0 5px;
}
.shopping-bag__info a {
    display: block;
    margin-top: 40px;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 13px;
    letter-spacing: 0.03em;
    color: #f14a58;
}
.bottom-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promotion-bar {
    margin-bottom: 30px;
    max-width: 1300px;
    height: 41px;
    background-color: #f7f7f7;
    border-top: 1px solid #e5e5e5;
}
.promotion-bar p {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 12px;
    letter-spacing: 0.03em;
    text-align: center;
}
.promotion-bar p span {
    color: #f14a58;
}
#clear-bag {
    width: 33.33%;
    border: none;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 13px;
    letter-spacing: 0.03em;
}
button.bottom-section__button {
    margin-bottom: 0;
}
#bag-total {
    display: block;
}
#bag-total p:first-child {
    margin: 0 auto 13px;
    color: #f14a58;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: right;
}
#bag-total p:first-child span {
    margin-left: 9px;
    font-size: 18px;
}
#bag-total p:nth-child(2) {
    margin: 0;
    color: #000;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 22px;
    letter-spacing: 0.03em;
    text-align: right;
}
#bag-total p:nth-child(2) span {
    margin-left: 7px;
    font-size: 24px;
}

@media only screen and (max-width: 768px) {
    .shopping-bag__image {
        width: 48%;
        margin: auto;
    }
}


    @media only screen and (min-width: 375px) and (max-width: 767px) {
    .shopping-bag {
        width: 100%;
        margin: 5% 0;
    }
    .shopping-bag__item {
        width: 100%;
    }
.shopping-bag__image {
    width: 48%;
    float: left;
}
        .shopping-bag__info h4 {
            line-height: 1;
        }
    .bottom-section {
        flex-direction: column-reverse;
    }
    .bottom-section div {
        margin: 1% auto;
    }
}
