@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-Bold/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold/OpenSans-Bold.ttf')  format('truetype'), url('../fonts/OpenSans-Bold/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/OpenSans-Semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-Semibold/OpenSans-Semibold.woff') format('woff'), url('../fonts/OpenSans-Semibold/OpenSans-Semibold.ttf')  format('truetype'), url('../fonts/OpenSans-Semibold/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold/Roboto-Bold.ttf')  format('truetype'), url('../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium/Roboto-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Medium/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium/Roboto-Medium.ttf')  format('truetype'), url('../fonts/Roboto-Medium/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular/Roboto-Regular.ttf')  format('truetype'), url('../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TimesNewRomanPS-ItalicMT';
    src: url('../fonts/TimesNewRomanPS-ItalicMT/TimesNewRomanPS-ItalicMT.eot?#iefix') format('embedded-opentype'),  url('../fonts/TimesNewRomanPS-ItalicMT/TimesNewRomanPS-ItalicMT.otf')  format('opentype'),
           url('../fonts/TimesNewRomanPS-ItalicMT/TimesNewRomanPS-ItalicMT.woff') format('woff'), url('../fonts/TimesNewRomanPS-ItalicMT/TimesNewRomanPS-ItalicMT.ttf')  format('truetype'), url('../fonts/TimesNewRomanPS-ItalicMT/TimesNewRomanPS-ItalicMT.svg#TimesNewRomanPS-ItalicMT') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
      margin: 0 auto;
      padding: 0;
      max-width: 1300px;
      box-sizing: content-box;
}
header {
    margin: 0 auto;
    max-width: 1180px;
    padding-top: 26px;
}
a {
    color: #000;
    text-decoration: none;
}
.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#logo {
    margin-left: 0;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 30px;
    letter-spacing: .02em;
}
.right-content {
    margin: 0;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 12px;
    letter-spacing: .02em;
    padding: 7px 0;
    display: flex;
    flex-direction: row;
}
.right-content > span {
    margin-right: 55px;
}
.bag img {
    margin-right: 14px;
}
.navbar {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 13px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
}
.navbar ul {
    padding: 0;
    display: flex;
    flex-direction: row;
}
.navbar ul > li {
    margin: 7px 64px 7px 0;
    list-style: none;
    letter-spacing: .03em;
}
.navbar ul li:first-child {
    margin-left: 0;
}
.navbar a {
    color: #000;
    text-decoration: none;
}
.navbar a:hover {
    color: #f14a58;
}
#search {
    position: relative;
}
input {
    color: #e5e5e5;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 12px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    padding: 8px 0;
}
#search img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
}

.top-section {
    display: flex;
    flex-direction: row;
}
article {
    position: relative;
    border: 1px solid;

}
article:first-child {
    border-left: none;
    border-image: linear-gradient(to right, #ffffff, #e5e5e5);
    border-image-slice: 100;
    margin-right: -1px;
}
article:last-child {
    border-right: none;
    border-image: linear-gradient(to left, #ffffff, #e5e5e5);
    border-image-slice: 100;
}
article img {
    width: 100%;
    height: 100%;
}
article h1 {
    margin: 0;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 28px;   
    letter-spacing: .03em;
    position: absolute;
    z-index: 1;
    top: 60px;
    right: 100px;
}
article p {
    margin: 0;
    position: absolute;
    top: 102px;
    right: 155px;
    z-index: 1;
    font-family: 'TimesNewRomanPS-ItalicMT', serif;
    font-size: 16px;
    color: #757575;
}
.middle-section {
    margin-top: 85px;
    margin-bottom: 192px;
    text-align: center;
}
.middle-section h1, .bottom-section h1  {
    margin-bottom: 16px;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 50px;   
    letter-spacing: .03em;
}
.middle-section p {
    margin: 0;
    font-family: 'TimesNewRomanPS-ItalicMT', serif;
    font-size: 16px;
}
p.new-icon {
    position: absolute;
    top: 65px;
    padding: 8px 12px;
    background-color: #f14a58;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 13px;
    color: #fff;   
    letter-spacing: .03em;
    text-transform: uppercase;
}
.middle-section__items {
    position: relative;
    margin-top: 70px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.middle-section__items div:nth-child(5) :first-child {
    width: 92px;
    position: absolute;
    top: 140px;
    right: 253px;
    z-index: 1;
}
.middle-section__items div:nth-child(5) :nth-child(2) {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 26px;   
    letter-spacing: .03em;
    position: absolute;
    top: 160px;
    right: 253px;
    z-index: -1;
}
.middle-section__items span {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 34px;   
    letter-spacing: .03em;
}
.middle-section__items div:nth-child(2n+1) {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.middle-section__items > div img:first-child, .middle-section__items > div img:last-child {
    width: 24px;
    margin: 0 auto;    
}
.middle-section__items div:nth-child(2n) {
    width: 182px;
}
.middle-section__items div:nth-child(2n+1) {
    width: 242px;
    margin-left: 60px;
}
.middle-section__items div:nth-child(2n+1) img:nth-child(2) {
    margin: 40px 0 45px;
}
.middle-section__items div:last-child {
    width: 342px;
}
p.items__title {
    margin-bottom: 20px;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 14px;
    letter-spacing: .03em;
}
p.items__price {
    margin-bottom: 34px;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    letter-spacing: .03em;
}
.bottom-section {
    margin-top: 85px;
    margin-bottom: 162px;
    text-align: center;
}
.bottom-section__items {
    position: relative;
    margin: 50px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.bottom-section__items img {
    margin: 40px 0 30px;
    width: 240px;
}
a.bottom-section__button {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0 auto 100px;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 24px;   
    letter-spacing: .03em;
    color: #000;
    padding: 27px 105px 24px;
    text-decoration: none;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
}
a.bottom-section__button:hover {
    color: #f14a58;
    border: 1px solid #f14a58;
}
.top-footer {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-links, .contact-links {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
}
.footer-links {
    border-left: 0;
    border-right: 0;
    border-image: linear-gradient(to right, #ffffff, #e5e5e5);
    border-image-slice: 100;
}
.footer-links div {
    width: 50%;
}
.footer-links h4, .contact-links h4 {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 16px;   
    letter-spacing: .03em;
}
.footer-links ul {
    padding-left: 0;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;   
    letter-spacing: .03em;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    list-style: none;
}
.contact-links {
    padding-left: 57px;
    border-image: linear-gradient(to left, #ffffff, #e5e5e5);
    border-image-slice: 100;
    border-right: 0;
}
.contact-links span, .contact-links a {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
}
.contact-links div:first-child, .contact-links div:nth-child(2) {
    width: 50%;
}
.contact-links div:nth-child(3) p {
    font-family: 'TimesNewRomanPS-ItalicMT', serif;
    font-size: 16px;
    line-height: 30px;
}
.contact-links div:nth-child(3) img {
    margin-right: 25px;
}
.bottom-footer {
    height: 80px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 12px;
}
.bottom-footer span:first-child {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 18px;
}
.share-bgr {
    position: absolute;
    z-index: -1;
}
.bottom-footer ul {
    list-style: none;
}
.bottom-footer ul>li {
    margin-left: 38px;
    display: inline-block;
}