body {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #f14a58;
}

.wrapper {
    margin: 0 auto;
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    overflow: hidden;
}

header {
    width: 100%;
    margin: 0 auto;
    padding-top: 26px;
}

.abbr-logo {
    display: none;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin-left: 0;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 30px;
    letter-spacing: .02em;
}


.right-content {
    margin: 0;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 12px;
    letter-spacing: .02em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.right-content span:first-child {
    display: inline-block !important;
}
.right-content > span {
    margin-right: 55px;
}

.bag img {
    margin-right: 14px;
}

.dropdown-menu-button {
    float: right;
    width: 58px;
    border: none;
    background: transparent;
    box-sizing: content-box;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.dropdown-menu-button:hover {
    background-color: #e5e5e5;
}
.close-dropdown {
    display: none;
}

#search {
    display: flex;
    width: 120px;
    position: relative;
}

input {
    color: #747474;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 12px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    padding: 8px 0;
    outline: none;
    line-height: 1px;
}

#search img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: white;
}

#dropdown-button, #close-dropdown {
    display: none;
    width: 58px;
    border: none;
    background: transparent;
    box-sizing: content-box;
    padding: 0;
    cursor: pointer;
    outline: none;
}
.close-dropdown {
    display: none;
}
.navigation-links-container {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    list-style-type: none;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 13px;
    letter-spacing: .03em;
    white-space: nowrap;
}

.navigation-links-container li {
    line-height: 70px;
    height: 70px;
    margin: 0 25px;
}

.navigation-links-container li:first-child {
    margin-left: 0;
}

.navigation-links-container li:last-child {
    margin-right: 0;
}

main {
    width: 100%;
}

.top-section {
    width: auto;
    display: flex;
    flex-direction: row;
}

article {
    position: relative;
    border: 1px solid;
}

article:first-child {
    border-left: none;
    border-image: linear-gradient(to right, #ffffff, #e5e5e5);
    border-image-slice: 100;
    margin-right: -1px;
}

article:last-child {
    border-right: none;
    border-image: linear-gradient(to left, #ffffff, #e5e5e5);
    border-image-slice: 100;
}

article img {
    width: 100%;
    height: 100%;
}

article h1 {
    margin: 0;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 28px;
    letter-spacing: .03em;
    position: absolute;
    z-index: 1;
    top: 60px;
    right: 100px;
}

article p {
    margin: 0;
    position: absolute;
    top: 102px;
    right: 155px;
    z-index: 1;
    font-family: 'TimesNewRomanPS-ItalicMT', serif;
    font-size: 16px;
    color: #757575;
}

.middle-section {
    width: auto;
    margin-top: 85px;
    margin-bottom: 100px;
    padding-bottom: 100px;
    position: relative;
    text-align: center;
    border-bottom: 1px solid;
    border-image: linear-gradient(to left, #ffffff, #e5e5e5);
    border-image-slice: 100;
}

.middle-section h1, .bottom-section h1 {
    margin-bottom: 16px;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 50px;
    letter-spacing: .03em;
}

.middle-section p {
    margin: 0;
    font-family: 'TimesNewRomanPS-ItalicMT', serif;
    font-size: 16px;
}

p.new-icon {
    position: absolute;
    top: 69px;
    left: 0;
    padding: 8px 12px;
    background-color: #f14a58;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 13px;
    color: #fff;
    letter-spacing: .03em;
    text-transform: uppercase;
    z-index: 10;
}

.hidden {
    display: none;
}

.middle-section__items {
    position: relative;
    margin: 70px auto 0;
    height: auto;
    display: flex;
    align-items: center;
    /*flex-wrap: wrap;*/
}
.middle-section__items-container:first-child {
    width: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.middle-section__items-container:nth-child(2) {
    width: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.middle-section__items div:nth-child(5) :first-child {
    width: 92px;
    position: absolute;
    top: -60px;
    left: 0;
    z-index: 1;
}

.middle-section__items div:nth-child(5) :nth-child(2) {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 26px;
    letter-spacing: .03em;
    color: #c6c6c6;
    position: absolute;
    top: -50px;
    left: 0px;
}

.middle-section__items span {
    width: 182px;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 34px;
    letter-spacing: .03em;
    display: block;
    margin-bottom: 60px;
}

.middle-section__items > div img:first-child,
.middle-section__items > div img:last-child {
    width: 24px;
}

.middle-section__items-container div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span.best-offer-old-price {
    position: absolute;
    left: -20px;
    top: -20px;
    font-size: 26px;
    color: #757575;
}
#crossline {
    width: 90px;
    position: absolute;
    left: 50px;
    top: 20px;
}

.middle-section__items div:nth-child(2n+1) img:nth-child(2) {
    width: auto;
    margin: 40px 0 45px;
}

button.middle-section__button {
    background: transparent;
    outline: none;
    right: 20px;
    bottom: 247px;
    margin: 84px auto 0;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 24px;
    letter-spacing: .03em;
    color: #000;
    padding: 27px 104px 24px;
    text-decoration: none;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    white-space: nowrap;
}

button.middle-section__button:hover {
    color: #f14a58;
    border: 1px solid #f14a58;
    cursor: pointer;
}

p.items__title {
    margin-bottom: 20px;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 14px;
    letter-spacing: .03em;
}

p.items__price {
    margin-bottom: 34px;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    letter-spacing: .03em;
}

.bottom-section {
    margin-top: 85px;
    margin-bottom: 74px;
    text-align: center;
}

.new-arrivals {
    position: relative;
    margin: 50px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.new-arrivals img {
    margin: 40px 0 30px;
    width: 240px;
}

.catalog-item {
    position: relative;
    margin: auto;
}

.catalog-image {
    position: relative;
    background: #000;
    width: 240px;
    height: 340px;
}

.catalog-image a img {
    opacity: 1;
    transition: opacity 124ms linear;
    width: 100%;
    height: 100%;
    display: block;
}

.catalog-image:hover img {
    opacity: 0.6;
}

.catalog-image p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 22px;
    letter-spacing: 0.03em;
    color: #f14a58;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
}

.catalog-image:hover p {
    visibility: visible;
    opacity: 1;
}

.catalog-info h4 {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 14px;
    letter-spacing: .03em;
    text-align: center;
}

.catalog-info p {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    letter-spacing: .03em;
    text-align: center;
}

button.bottom-section__button {
    background: transparent;
    outline: none;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0 auto 100px;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 24px;
    letter-spacing: .03em;
    color: #000;
    padding: 27px 105px 24px;
    text-decoration: none;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
}

button.bottom-section__button:hover {
    color: #f14a58;
    border: 1px solid #f14a58;
    cursor: pointer;
}

.top-footer {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-links, .contact-links {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
}

.footer-links {
    border-left: 0;
    border-right: 0;
    border-image: linear-gradient(to right, #ffffff, #e5e5e5);
    border-image-slice: 100;
}

.footer-links div {
    width: 50%;
}

.footer-links h4, .contact-links h4 {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 16px;
    letter-spacing: .03em;
}

.footer-links ul {
    padding-left: 0;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    letter-spacing: .03em;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.contact-links {
    padding-left: 57px;
    border-image: linear-gradient(to left, #ffffff, #e5e5e5);
    border-image-slice: 100;
    border-right: 0;
}

.contact-links span, .contact-links a {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
}

.contact-links div:first-child, .contact-links div:nth-child(2) {
    width: 50%;
}

.contact-links div:nth-child(3) p {
    font-family: 'TimesNewRomanPS-ItalicMT', serif;
    font-size: 16px;
    line-height: 30px;
}

.contact-links div:nth-child(3) img {
    margin-right: 25px;
}

.bottom-footer {
    height: 80px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 12px;
}

.bottom-footer span:first-child {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 18px;
}

.share-bgr {
    position: absolute;
    z-index: -1;
}

.bottom-footer ul {
    list-style: none;
}

.bottom-footer ul > li {
    margin-left: 38px;
    display: inline-block;
}

/* On screens that are 768px or more */
@media only screen and (max-width: 768px) {
    .wrapper {
        margin: auto 39px;
    }
.dropdown-button {
    display: block;
}

    .navigation-links-container li {
        margin: 0 11px;
        letter-spacing: normal;
    }

    #search input {
        display: none;
    }

    .top-section {
        margin: 0 auto;
    }
    article h1 {
        font-size: 22px;
        top: 37px;
        right: 52px;
    }
    article p {
        top: 71px;
        right: 94px;
    }
    .middle-section h1, .bottom-section h1 {
        font-size: 40px;
    }
    .middle-section__items {
        margin-bottom: 75px;
        flex-wrap: wrap;
    }
    button.middle-section__button {
        display: block;
        position: static;
    }
    .new-arrivals {
        order: 3;
        justify-content: space-between;
    }
    .catalog-image {
        margin-right: 39px;
        width: 204px;
        height: 289px;
    }
    .catalog-item {
        width: 33.33%;
    }
}



@media (min-width: 375px) and (max-width: 767px) {
    .wrapper {
        margin: auto 20px;
    }

    .full-logo {
        display: none;
    }

    .abbr-logo {
        display: inline-block;
    }

    .right-content span:first-child {
        display: none !important;
    }
    .navigation-menu {
        display: none;
    }
    #dropdown-button, #close-dropdown {
        display: block;
    }
    .openMenu {
        flex-direction: column;
        height: 100vh;
    }
    .openMenu a {
        font-size: 25px;
    }
    .navigation-menu {
        flex-direction: column;
     }
    .navigation-links-container {
        display: block;
    }
    .navigation-links-container li {
        margin: 0;
    }
    .hidden {
        display: none !important;
    }
    #search input {
        display: block;
    }
    article:last-child {
        display: none;
    }
    .middle-section {
        position: relative;
        margin-top: 53px;
        padding: 0;
    }
    .middle-section h1, .bottom-section h1 {
        font-size: 26px;
    }
    .middle-section p {
        font-size: 12px;
        margin: 4px auto 30px;
    }
    .middle-section__items {
        justify-content: space-between;
    }
    .middle-section__items div:nth-child(2n+1) {
        margin: 0 auto;
    }
    .middle-section__items div:nth-child(2n+1) img:nth-child(2) {
        margin: 30px auto;
        height: 223px;
    }
    .middle-section__items div:nth-child(2) {
        width: 12px;
        height: 13px;
    }
    .middle-section__items span {
        font-size: 26px;
    }
    .middle-section__items div:nth-child(4) {
        position: absolute;
        bottom: 80px;
    }
    .middle-section__items div:nth-child(5) {
        font-size: 26px;
        position: absolute;
        top: 480px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .catalog-item {
        width: 50%;
    }
    .top-footer {
        flex-wrap: wrap;
    }
    .footer-links, .contact-links {
        width: 100%;
    }
    .contact-links div:nth-child(3) p {
        display: none;
    }
}