
@font-face {
  font-family: 'TimesNewRomanPS-ItalicMT';
  src: url('TimesNewRomanPS-ItalicMT.eot?#iefix') format('embedded-opentype'),  url('TimesNewRomanPS-ItalicMT.otf')  format('opentype'),
	     url('TimesNewRomanPS-ItalicMT.woff') format('woff'), url('TimesNewRomanPS-ItalicMT.ttf')  format('truetype'), url('TimesNewRomanPS-ItalicMT.svg#TimesNewRomanPS-ItalicMT') format('svg');
  font-weight: normal;
  font-style: normal;
}
